<!DOCTYPE html>
<html>
  <head>
    <title>Twemotion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>index.html</title>
    <style>
      body {
        font-family: sans-serif;
      }
    </style>
  </head>

  <body>
    <font size="4"><a href="http://127.0.0.1:8000/twemotion/">ホーム</a></font>
    <!-- <a href="http://127.0.0.1:8000/twemotion/"><img src="Figure/home_button.png" alt="ホーム" title="ホーム"></a> -->
    <hr>
    <ol>
      {% for trend, url in trend_url.items %}
        <li><a href={{ url }}>{{ trend }}</a></li>
      {% endfor %}
    </ol>
  </body>
</html>