{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Twemotion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static 'css/style.css' %}" type="text/css">
  </head>

  <body>
    <header id="fixed">
      <a href="http://127.0.0.1:8000/twemotion/"><img src="{%static 'pic/home.jpg' %}" alt="ホーム" title="ホーム" style="width:80px;"></a>
    </header>
    <main>
      <div class="frame">
        <p class="content-tytle">トレンドランキング</p>
        <ol>
          {% for trend, url in trend_url.items %}
            <li><a href={{ url }}>{{ trend }}</a></li>
          {% endfor %}
        </ol>
      </div>
    </main>
  </body>
</html>