{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Twemotion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>index.html</title>
    <link rel="stylesheet" href="{%static 'css/style.css' %}" type="text/css">
    <style>
    </style>
  </head>

  <body>
    <a href="http://127.0.0.1:8000/twemotion/"><img src="/media/home.png" alt="ホーム" title="ホーム" style="width:160px;"></a>
    <hr>
    <p class="frame">
      <ol>
        {% for trend, url in trend_url.items %}
          <li><a href={{ url }}>{{ trend }}</a></li>
        {% endfor %}
      </ol>
    </p>
  </body>
</html>