<!DOCTYPE html>
<html>
  <head>
    <title>Twemotion - {{ name }}の感情分析</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>index.html</title>
    <style>
      body {
        font-family: sans-serif;
      }
    </style>
  </head>

  <body>
    <font size="4"><a href="http://127.0.0.1:8000/twemotion/">ホーム</a></font>
    <hr>
    <b><font size="5">{{ name }}</font></b>
    <ul>
      {% for em, point in analysis %}
        <!-- <li><font color=emcolor.{{ em }}>{{ em }}</font>: {{ point }}&#037; : {{ emcolor.em }} -->
        <li>{{ em }}: {{ point }}&#037;</li>
      {% endfor %}      
  </body>
</html>