{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Twemotion - {{ name }}の感情分析</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static 'css/style.css' %}" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1"></script>
    <script>
      window.onload = function(){
        let context = document.querySelector("#emotion_circle").getContext('2d')
        {% autoescape off %}
        new Chart(context, {
          type: 'pie',
          data: {
            labels: {{ pie_chart.label }},
            datasets: [{
              backgroundColor: {{ pie_chart.color }},
              data: {{ pie_chart.point}}
            }]
          },
          {% endautoescape %}
          options: {
            responsive: false,
          }
        });
      }
    </script>
  </head>

  <body>
    <header id="fixed">
      <a href="http://127.0.0.1:8000/twemotion/"><img src="{%static 'pic/home.jpg' %}" alt="ホーム" title="ホーム" style="width:80px;"></a>
    </header>
    <main>
      <div class="frame">
        <b><font size="5">{{ name }}</font></b>
        <p class="content-tytle">感情分布</p>
        <center><canvas id="emotion_circle" width="300" height="300"></canvas></center>
        <p class="content-tytle">該当ツイート</p>
          {% for em, content in tweets.items %}
            <details>
              <summary><font color={{content.color}}>{{content.label}}: {{content.point}} &#037;</font></summary>
              <div class="flex">
                {% for tweet in content.tweet %}
                  {% autoescape off %}
                    {{tweet}}
                  {% endautoescape %}
                {% endfor %}
              </div>
            </details>
          {% endfor %}
      </div>
    </main>
  </body>
</html>