{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Twemotion - {{ name }}の感情分析</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>index.html</title>
    <link rel="stylesheet" href="{%static 'css/sty.css' %}" type="text/css">
  </head>

  <body>
    <a href="http://127.0.0.1:8000/twemotion/"><img src="/media/home.png" alt="ホーム" title="ホーム" style="width:160px" text-align: right></a>
    <p align="right"><a href={{none_mode.url}} class="btn_none_mode">{{none_mode.alt}}</a></p>
    <hr>
    <p class="frame">
      <b><font size="5">{{ name }}</font></b>
        {% for em, content in result.items %}
          <details>
            <summary><font color={{content.color}}>{{content.japanese}}: {{content.point}} &#037;</font></summary>
            {% for tweet in content.tweet %}
              <ul>
                <li><a href={{tweet.url}}>{{tweet.content}}</a></li>
              </ul>
            {% endfor %}
          </details>
        {% endfor %}
    </p>
  </body>
</html>